.container
{
   
    /* margin: 25px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    
}

.row{
    background-image: url(Freebie-GluedPaperTextures-Preview-02.webp);
    height:80vh;
   margin-top: 40vh;
   border-radius: 30px;
}

.col-md-8{
    padding: 10px;
}

@media (min-width: 755px)
{
    .col-md-8 {
        flex: 0 0 auto;
        width: 100%;
    }
}
h2 , p{
    text-align: center;
}
